In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
subscriptions=pd.read_csv('subscriptions.csv')
spendings=pd.read_csv('spendings.csv')

In [5]:
subscriptions.shape,spendings.shape

((29823, 8), (59450, 6))

In [3]:
subscriptions.head()

,signup_country_code,marketing_channel_id,signup_platform,gender,is_paid_channel,subscription_date,net_revenue,subscription_count
0,AU,1.0,ios,male,False,2016-11-20,41.993,4
1,CA,3.0,ios,female,True,2016-11-24,20.993,3
2,US,2.0,ios,female,True,2016-11-27,749.338,47
3,PE,NaN,android,male,False,2016-11-29,0.000,1
4,US,NaN,ios,male,False,2016-12-03,203.422,17

In [4]:
spendings.head()

,report_date,country_code,platform,marketing_channel_id,is_paid_channel,spendings
0,2016-10-01,AD,ios,2,True,0.00
1,2016-10-01,AE,android,18,True,32.76
2,2016-10-01,AE,android,2,True,38.30
3,2016-10-01,AE,ios,18,True,26.22
4,2016-10-01,AE,ios,2,True,40.66

In [7]:
subscriptions.nunique()

signup_country_code      191
marketing_channel_id      15
signup_platform            3
gender                     2
is_paid_channel            2
subscription_date        123
net_revenue             3029
subscription_count       105
dtype: int64

In [8]:
spendings.nunique()

report_date               123
country_code              215
platform                    4
marketing_channel_id       15
is_paid_channel             2
spendings               15376
dtype: int64

In [12]:
subscriptions.columns

Index(['signup_country_code', 'marketing_channel_id', 'signup_platform',
       'gender', 'is_paid_channel', 'subscription_date', 'net_revenue',
       'subscription_count'],
      dtype='object')

In [13]:
spendings.columns

Index(['report_date', 'country_code', 'platform', 'marketing_channel_id',
       'is_paid_channel', 'spendings'],
      dtype='object')

In [103]:
new_df = pd.merge(subscriptions, spendings,  how='left', left_on=['signup_country_code','marketing_channel_id','signup_platform','subscription_date'], right_on = 
                  ['country_code','marketing_channel_id','platform','report_date'])

In [104]:
df=new_df.dropna()

In [105]:
platform=df.groupby('signup_platform')['spendings','net_revenue','subscription_count'].sum()

In [111]:
platform.drop('Spending/Rev',axis=1,inplace=True)

In [114]:
platform['CAC']=platform['spendings']/platform['subscription_count']
platform['MarketingCost/Revenue']=platform['spendings']/platform['net_revenue']
platform['Marketin-Revenue']=(platform['net_revenue']-platform['spendings'])/platform['net_revenue']
platform['UnnitPrice']=platform['net_revenue']/platform['subscription_count']
platform

,spendings,net_revenue,subscription_count,CAC,MarketingCost/Revenue,Marketin-Revenue,UnnitPrice
signup_platform,,,,,,,
android,6.724806e+05,372676.243910,31993,21.019616,1.804463,-0.804463,11.648681
ios,1.517339e+06,834198.794562,66965,22.658689,1.818918,-0.818918,12.457236
web,0.000000e+00,2278.077720,77,0.000000,0.000000,1.000000,29.585425

In [100]:
df['costumer_COA']=df['spendings']/df['subscription_count']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [101]:
Marketing=df.groupby('marketing_channel_id')['spendings','net_revenue','subscription_count'].sum()

In [115]:
Marketing['CAC']=Marketing['spendings']/Marketing['subscription_count']
Marketing['spendings/revenue']=Marketing['spendings']/Marketing['net_revenue']
Marketing.sort_values('spendings',ascending=False)

,spendings,net_revenue,subscription_count,CAC,spendings/revenue
marketing_channel_id,,,,,
2.0,1.151211e+06,421075.120778,36565,31.483956,2.733980
18.0,4.222270e+05,125804.601268,12893,32.748548,3.356213
4.0,2.448652e+05,60627.321771,5598,43.741554,4.038859
6.0,2.012954e+05,57791.194664,3281,61.351847,3.483150
3.0,1.267845e+05,28516.609791,2665,47.573929,4.445989
9.0,4.091060e+04,8896.084516,1017,40.226745,4.598720
10.0,2.526030e+03,1509.586000,56,45.107679,1.673326
0.0,0.000000e+00,41.993000,3,0.000000,0.000000
1.0,0.000000e+00,487047.892781,35311,0.000000,0.000000
7.0,0.000000e+00,524.861201,31,0.000000,0.000000
11.0,0.000000e+00,4517.608364,288,0.000000,0.000000
12.0,0.000000e+00,5353.707275,554,0.000000,0.000000
13.0,0.000000e+00,7215.569782,748,0.000000,0.000000
14.0,0.000000e+00,230.965000,24,0.000000,0.000000
16.0,0.000000e+00,0.000000,1,0.000000,NaN

In [93]:
spendings[spendings['is_paid_channel']==True]['marketing_channel_id'].unique()

array([ 2, 18,  9,  3,  6, 10,  7,  4, 14, 16])

In [94]:
spendings[spendings['is_paid_channel']==False]['marketing_channel_id'].unique()

array([ 1,  0, 12, 13, 11])

In [81]:
subscriptions['marketing_channel_id'].unique()

array([ 1.,  3.,  2., nan,  4., 18.,  6., 11.,  9., 13., 12., 14.,  7.,
       10.,  0., 16.])

In [74]:
df.to_csv('join_data.csv',index=False)

In [126]:
Countries=df.groupby('signup_country_code')['spendings','net_revenue','subscription_count'].sum()
Countries['CAC']=Countries['spendings']/Countries['subscription_count']
Countries['MarketingCost/Revenue']=Countries['spendings']/Countries['net_revenue']
Countries.sort_values(['net_revenue','spendings','CAC'],ascending=False)[0:15]

,spendings,net_revenue,subscription_count,CAC,MarketingCost/Revenue
signup_country_code,,,,,
US,1.101293e+06,474061.606983,38418,28.666061,2.323100
CA,2.176953e+05,91924.064864,7702,28.264778,2.368208
CH,1.070114e+05,69317.169287,3973,26.934656,1.543793
AU,1.104261e+05,64562.365066,4630,23.850130,1.710379
FR,7.299754e+04,56318.861900,4313,16.925003,1.296147
ES,1.172919e+05,52255.592894,5299,22.134715,2.244580
GB,6.887108e+04,43444.365635,4727,14.569723,1.585271
MX,8.220753e+04,41640.531544,4817,17.066126,1.974219
AR,3.425828e+04,37823.633723,2533,13.524785,0.905737
CL,3.057637e+04,30574.486799,1991,15.357293,1.000062
DE,4.432103e+04,28079.971732,2801,15.823288,1.578386
CO,1.813669e+04,18984.989593,1263,14.360008,0.955317
AE,1.874929e+04,16726.046946,1183,15.848935,1.120964
PE,1.204113e+04,11084.823868,1117,10.779884,1.086272
CR,8.829010e+03,9286.575716,742,11.898935,0.950728

In [122]:
Countries.to_csv('Coutries.csv')

In [68]:
marketing=df.groupby('marketing_channel_id')['spendings','net_revenue','net_earning','subscription_count','costumer_COA'].sum()
marketing

,spendings,net_revenue,net_earning,subscription_count,costumer_COA
marketing_channel_id,,,,,
0.0,0.000000e+00,41.993000,41.993000,3,0.000000
1.0,0.000000e+00,487047.892781,487047.892781,35311,0.000000
2.0,1.151211e+06,421075.120778,-730135.739222,36565,245309.167184
3.0,1.267845e+05,28516.609791,-98267.910082,2665,22738.333311
4.0,2.448652e+05,60627.321771,-184237.899438,5598,11003.567484
6.0,2.012954e+05,57791.194664,-143504.214910,3281,66357.718849
7.0,0.000000e+00,524.861201,524.861201,31,0.000000
9.0,4.091060e+04,8896.084516,-32014.515594,1017,13394.814258
10.0,2.526030e+03,1509.586000,-1016.444000,56,2241.735000
11.0,0.000000e+00,4517.608364,4517.608364,288,0.000000
12.0,0.000000e+00,5353.707275,5353.707275,554,0.000000
13.0,0.000000e+00,7215.569782,7215.569782,748,0.000000
14.0,0.000000e+00,230.965000,230.965000,24,0.000000
16.0,0.000000e+00,0.000000,0.000000,1,0.000000
18.0,4.222270e+05,125804.601268,-296422.432291,12893,112353.703437

In [69]:
countries=df.groupby('signup_country_code')['spendings','net_revenue','net_earning','subscription_count','costumer_COA'].sum()

In [70]:
countries[countries['net_earning']==countries['net_earning'].max()]

,spendings,net_revenue,net_earning,subscription_count,costumer_COA
signup_country_code,,,,,
SA,1394.759999,5048.094546,3653.334547,409,1116.574166

In [71]:
countries[countries['net_earning']==countries['net_earning'].min()]

,spendings,net_revenue,net_earning,subscription_count,costumer_COA
signup_country_code,,,,,
US,1.101293e+06,474061.606983,-627231.13397,38418,106792.330338

In [72]:
countries.loc['GB',:]

spendings             68871.079961
net_revenue           43444.365635
net_earning          -25426.714326
subscription_count     4727.000000
costumer_COA          24409.351057
Name: GB, dtype: float64

### Most promising Marketing channel

In [48]:
marketing['net_earning'].max()

487047.8927806788

### Marketing channel with the worst performance

In [49]:
marketing['net_earning'].min()

-730135.7392220682

In [21]:
new_df[new_df['report_date'].isna()].shape

(3951, 13)

In [26]:
spendings[spendings['country_code'].isna()]

,report_date,country_code,platform,marketing_channel_id,is_paid_channel,spendings
322,2016-10-01,NaN,android,18,True,0.00
822,2016-10-02,NaN,android,18,True,0.00
1327,2016-10-03,NaN,android,18,True,0.00
1795,2016-10-04,NaN,android,18,True,0.00
2258,2016-10-05,NaN,ios,18,True,0.00
2259,2016-10-05,NaN,android,18,True,0.00
2726,2016-10-06,NaN,android,18,True,0.00
2727,2016-10-06,NaN,ios,18,True,0.00
3208,2016-10-07,NaN,ios,18,True,0.00
3209,2016-10-07,NaN,android,18,True,0.00
3699,2016-10-08,NaN,ios,18,True,0.00
3700,2016-10-08,NaN,android,18,True,0.05
4192,2016-10-09,NaN,android,18,True,0.02
4673,2016-10-10,NaN,android,18,True,0.00
5155,2016-10-11,NaN,android,18,True,0.02
5156,2016-10-11,NaN,android,0,False,0.00
6972,2016-10-15,NaN,ios,18,True,0.00
6973,2016-10-15,NaN,android,18,True,0.00
7440,2016-10-16,NaN,ios,18,True,0.00
7898,2016-10-17,NaN,android,18,True,0.07
7899,2016-10-17,NaN,ios,18,True,0.00
8346,2016-10-18,NaN,android,18,True,0.00
9252,2016-10-20,NaN,ios,18,True,0.00
10165,2016-10-22,NaN,ios,18,True,0.00
10634,2016-10-23,NaN,android,18,True,0.00
11121,2016-10-24,NaN,android,18,True,0.00
12041,2016-10-26,NaN,android,18,True,0.00
12510,2016-10-27,NaN,ios,18,True,0.00
12511,2016-10-27,NaN,android,18,True,0.00
13440,2016-10-29,NaN,android,18,True,0.00
...,...,...,...,...,...,...
39479,2016-12-25,NaN,android,18,True,0.23
39969,2016-12-26,NaN,ios,18,True,0.00
40469,2016-12-27,NaN,ios,18,True,0.10
40470,2016-12-27,NaN,android,18,True,0.00
40987,2016-12-28,NaN,android,18,True,0.00
41534,2016-12-29,NaN,android,18,True,0.20
42090,2016-12-30,NaN,android,18,True,0.20
42091,2016-12-30,NaN,ios,18,True,0.00
43223,2017-01-01,NaN,android,18,True,0.16
43224,2017-01-01,NaN,ios,18,True,0.00
43894,2017-01-02,NaN,android,18,True,0.00
43895,2017-01-02,NaN,ios,18,True,0.00
44561,2017-01-03,NaN,android,18,True,0.00
44562,2017-01-03,NaN,ios,18,True,0.00
45175,2017-01-04,NaN,android,18,True,0.51
45176,2017-01-04,NaN,ios,18,True,0.00
45808,2017-01-05,NaN,ios,18,True,0.00
45809,2017-01-05,NaN,android,18,True,0.19
46425,2017-01-06,NaN,ios,18,True,0.00
46426,2017-01-06,NaN,android,18,True,0.00
47060,2017-01-07,NaN,ios,18,True,0.00
47061,2017-01-07,NaN,android,18,True,0.22
47702,2017-01-08,NaN,ios,18,True,0.78
47703,2017-01-08,NaN,android,18,True,0.14
48306,2017-01-09,NaN,android,18,True,0.00
50361,2017-01-13,NaN,android,0,False,0.00
50866,2017-01-14,NaN,ios,0,False,0.00
51405,2017-01-15,NaN,android,18,True,0.00
51406,2017-01-15,NaN,ios,1,False,0.00
57339,2017-01-27,NaN,android,1,False,0.00

In [6]:
subscriptions.sort_values('subscription_date')

,signup_country_code,marketing_channel_id,signup_platform,gender,is_paid_channel,subscription_date,net_revenue,subscription_count
12786,AR,2.0,ios,male,True,2016-10-01,41.993000,1
4274,GB,1.0,ios,male,False,2016-10-01,62.979000,11
4291,FR,18.0,ios,female,True,2016-10-01,0.000000,2
11718,BJ,1.0,ios,female,False,2016-10-01,0.000000,1
11719,DO,2.0,android,female,True,2016-10-01,0.000000,1
16088,AE,NaN,ios,female,False,2016-10-01,0.000000,1
20016,ES,2.0,ios,male,True,2016-10-01,41.993000,1
9218,AU,1.0,android,female,False,2016-10-01,102.107036,3
452,AE,2.0,android,female,True,2016-10-01,41.924201,3
18020,AE,2.0,android,female,True,2016-10-01,0.000000,3
9167,AR,2.0,ios,male,True,2016-10-01,0.000000,2
29406,DE,NaN,ios,male,False,2016-10-01,41.993000,1
24816,AU,13.0,android,female,False,2016-10-01,0.000000,1
29400,AU,2.0,ios,female,True,2016-10-01,41.993000,1
2560,AU,2.0,android,female,True,2016-10-01,183.375901,8
16089,DO,1.0,android,female,False,2016-10-01,0.000000,1
4937,AE,18.0,ios,female,True,2016-10-01,41.993000,1
200,FR,NaN,ios,female,False,2016-10-01,125.979000,7
21257,GB,1.0,android,female,False,2016-10-01,47.934090,7
11981,ES,NaN,ios,male,False,2016-10-01,0.000000,2
24782,SA,1.0,android,female,False,2016-10-01,0.000000,1
17942,SG,18.0,android,female,True,2016-10-01,0.000000,1
17941,US,1.0,android,male,False,2016-10-01,357.000000,24
21216,DE,1.0,ios,male,False,2016-10-01,0.000000,2
28936,AR,18.0,ios,female,True,2016-10-01,0.000000,1
16242,AU,18.0,android,female,True,2016-10-01,61.472603,3
9022,AR,NaN,android,female,False,2016-10-01,0.000000,1
23337,SV,2.0,android,female,True,2016-10-01,0.000000,1
11670,CO,2.0,ios,female,True,2016-10-01,20.993000,2
7039,MX,2.0,ios,female,True,2016-10-01,41.993000,2
...,...,...,...,...,...,...,...,...
13198,SE,1.0,android,female,False,2017-01-31,-6.430140,1
28078,UY,18.0,ios,female,True,2017-01-31,0.000000,1
15194,CH,18.0,android,female,True,2017-01-31,38.686477,1
22362,US,9.0,ios,female,True,2017-01-31,83.986000,3
22371,DE,1.0,android,female,False,2017-01-31,0.000000,1
28034,DE,1.0,ios,male,False,2017-01-31,79.603000,8
621,FR,6.0,ios,male,True,2017-01-31,41.993000,3
1562,US,13.0,ios,male,False,2017-01-31,0.000000,2
6267,US,18.0,ios,female,True,2017-01-31,0.000000,5
24352,MX,18.0,android,female,True,2017-01-31,0.000000,1
17464,CA,18.0,ios,female,True,2017-01-31,84.844650,4
10008,PY,2.0,ios,male,True,2017-01-31,0.000000,2
7449,AU,NaN,ios,female,False,2017-01-31,121.596000,3
24344,CO,2.0,android,male,True,2017-01-31,37.610000,1
16958,MX,1.0,ios,female,False,2017-01-31,104.986000,7
28529,IN,1.0,ios,male,False,2017-01-31,0.000000,1
6526,KW,1.0,ios,female,False,2017-01-31,37.610000,1
3994,PR,2.0,ios,male,True,2017-01-31,41.993000,4
152,US,18.0,android,female,True,2017-01-31,221.630000,22
19062,JP,NaN,ios,female,False,2017-01-31,0.000000,1
12505,IE,2.0,ios,female,True,2017-01-31,41.993000,2
4601,US,4.0,ios,female,True,2017-01-31,306.185000,24
17426,ES,18.0,ios,male,True,2017-01-31,0.000000,2
18324,NZ,2.0,android,female,True,2017-01-31,-7.463608,2
10674,MX,NaN,android,male,False,2017-01-31,37.610000,1
25714,AE,2.0,ios,male,True,2017-01-31,41.993000,1
13271,US,2.0,android,male,True,2017-01-31,238.830000,17
11495,US,9.0,android,male,True,2017-01-31,21.000000,8
7012,CO,2.0,ios,female,True,2017-01-31,83.986000,6
4660,FR,2.0,ios,female,True,2017-01-31,148.462457,12